createdAt: "2019-07-02T15:50:54.013Z"
updatedAt: "2019-07-02T15:57:57.577Z"
type: "MARKDOWN_NOTE"
folder: "5c2622ff2837a9368f9c"
title: "Vim"
tags: []
content: '''
  ## Vim
  
  
  | Command        | Use        |
  | ------------- |:-------------:|
  |a|insert after cursor|
  |i|insert before cursor|
  |o|insert a new line below|
  |O| insert a new line above|
  |esc| exit insert mode|
  |x| delete one char|
  |dw| delete one word|
  |dd|delete the line|
  |D| delete the rest of the line|
  |u| undo the last action|
  |k| up one line|
  |j |down one line|
  |h |backwards one char|
  |l |forwards one char|
  |ZZ| save and exit|
  |:wq| save and exit|
  |:w| save|
  |:q!| quit without saving|
'''
linesHighlighted: []
isStarred: false
isTrashed: false
