createdAt: "2019-07-03T14:52:09.764Z"
updatedAt: "2019-07-03T14:54:35.824Z"
type: "MARKDOWN_NOTE"
folder: "5c2622ff2837a9368f9c"
title: "Tmux"
tags: []
content: '''
  ### Tmux
  
  
  | Command        | Use        |
  | ------------- |:-------------:|
  |Ctrl + A|enter command mode|
  |Ctrl + [ | enter scroll mode|
  |Ctrl + C |exit most things/exit scroll mode|
'''
linesHighlighted: []
isStarred: false
isTrashed: false
