createdAt: "2019-07-02T18:07:30.515Z"
updatedAt: "2019-07-02T18:08:08.697Z"
type: "MARKDOWN_NOTE"
folder: "5c2622ff2837a9368f9c"
title: "Linear Algebra"
tags: []
content: '''
  # Linear Algebra 
  
  The goal is to solve a system of N equations with N unknowns 
'''
linesHighlighted: []
isStarred: false
isTrashed: false
