createdAt: "2019-07-02T14:58:36.491Z"
updatedAt: "2019-07-02T15:23:17.291Z"
type: "MARKDOWN_NOTE"
folder: "5c2622ff2837a9368f9c"
title: "Hey all! I'm another remote streamer (high five @Laura Elliott) and wanted to introduce myself as well. My name is Kate and I'm from Boulder, CO. I have a BA in International Studies and an Executive MBA. My last job was as a senior product analyst at Strava in Denver and I've been doing analytics for about 10 years and I'm totally stoked about becoming a data scientist. I'm an endurance athlete (2x Ironman) and love everything outdoors. Probably the most interesting thing right now is that I'll be going skiing here in CO on July 4th! Winter has been quite good to us. I hope to meet most of you sometime during the bootcamp when I make my way to NYC for a week or so."
tags: []
content: "Hey all! I'm another remote streamer (high five @Laura Elliott) and wanted to introduce myself as well. My name is Kate and I'm from Boulder, CO. I have a BA in International Studies and an Executive MBA. My last job was as a senior product analyst at Strava in Denver and I've been doing analytics for about 10 years and I'm totally stoked about becoming a data scientist. I'm an endurance athlete (2x Ironman) and love everything outdoors. Probably the most interesting thing right now is that I'll be going skiing here in CO on July 4th! Winter has been quite good to us. I hope to meet most of you sometime during the bootcamp when I make my way to NYC for a week or so. "
linesHighlighted: []
isStarred: false
isTrashed: true
